html,body,#__next {
    height: 100%;
    width: 100%;
}

ul, ol {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

body {
    background: #f7f7f7;
    font-size: 14px;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: #dee2e6;
}

td {
    vertical-align: middle;
}